[2013-05-29 22:48] stwirth opened #2 "Driver does not support device_ids like "#1""
The default device in openni2_launch/launch/openni2.launch is `#1` which does not work (at least for the Asus Xtion Pro). Passing the device ID as it was listed by the driver on startup (e.g. `1d27/0600@1/3`) works though.

[code]

[2013-05-31 17:27] #2 closed, assigned to nobody

[2013-06-08 02:34] dgossow opened #6 "boost exception on startup"
This is what I get:

[code]

[2013-06-08 02:37] dgossow opened #7 "Call to publish() on an invalid image_transport::CameraPublisher"
This is what I get:

[code]

[2013-06-08 02:44] dgossow commented on #6
This seems to happen when there are already subscribers when the openni nodelets come up.

[2013-06-08 02:44] dgossow commented on #6
See #7

[2013-06-08 02:44] dgossow commented on #7
This seems to happen when there are already subscribers when the openni nodelets come up.

[2013-06-08 07:43] jonbinney commented on #7
It looks like this problem is here: https://github.com/ros-drivers/openni2_camera/blob/master/src/openni2_driver.cpp

In OpenNI2Driver::advertiseROSTopics(), the topics are advertised. Concurrently, the new frame callbacks, such as OpenNI2Driver::newDepthFrameCallback, are called.  newDepthFrameCallback does check the number of subscribers, which should keep it from publishing on an unitialized Ca

[2013-06-08 15:34] jkammerl commented on #7
The OpenNI frame callbacks are only registered in the ROS connection callbacks. Therefore, it is not clear to me how the CameraPublisher can be uninitialized within the frame callback. Anyways, it does not harm to add ROS subscriber checks to the color and ir frame callbacks: https://github.com/jkammerl/openni2_camera/commit/4f5bdf3a5d0f5cbf069ad52cc20759795fb88429
Please check if that fix helps.

[2013-06-08 20:06] jonbinney commented on #7
Yeah, you're right, it seems like those callbacks wouldn't happen til after the publishers were created anyway. Well, I'll merge in your changes and we'll see if that helps.

We should probably try running the whole node in gdb to get a backtrace and see exactly which publish call is causing the problem.

[2013-06-11 19:19] danepowell opened #9 "Support for Kinect?"
I'm wondering if anyone has openni2_camera or openni2_launch working with Kinect?

My understanding is that this would only be possible by using the freenect driver and OpenNI2-Freenect wrapper (https://github.com/piedar/OpenNI2-FreenectDriver), since there is no official OpenNI2-compatible driver for Linux. For OpenNI version 1.5, you could use the avin2 SensorKinect driver (https://github.com/av

[2013-06-21 22:52] jonbinney commented on #9
Right, the OpenNI2 library does not support the kinect right now, as far as I know.  The Openni2-freenect project you linked to looked promising, but i don't have any experience with it.

You could just use the ROS freenect driver directly: https://github.com/ros-drivers/freenect_stack
That should let you get ROS messages from your kinect. Is there some raoson you need to use OpenNI2?

[2013-06-21 22:53] jonbinney commented on #7
@dgossow are you still seeing this problem?

[2013-06-21 22:59] jonbinney opened #10 "In install space, cannot find libraries"
To replicate, download the sources, then do a

[code]

The output is:

[code]

This appears to be because the libopenni2-0 library puts the libraries for each device driver in /usr/lib/OpenNI2/Drivers, but doesn't add that to the library search path in /etc/ld.so.conf. This doesn't fail in devel space because we get the library path for OpenNI2 from package config:

[code]

Possible solution would

[2013-06-21 23:00] jonbinney opened #11 "Release into groovy and hydro"
Currently blocked by https://github.com/ros-drivers/openni2_camera/issues/10

[2013-06-22 15:42] danepowell commented on #9
Thanks for clarifying- it might be worth noting in the README or project page that OpenNI2 doesn't support Kinect, and users should stick with OpenNI or freenect (although the OpenNI software is hard to come by now).

At any rate- I did switch to the freenect stack and it's working great. Thanks!

[2013-06-24 21:33] jonbinney commented on #10
Created an issue for this on the OpenNI2 repo: https://github.com/hcw70/OpenNI2/issues/12

[2013-06-26 12:17] Rouno commented on #11
Dear Jon, here is something I found interesting and that might help you : http://computervisionblog.wordpress.com/2013/06/09/hands-on-capri-building-an-openni2-ros-interface/

This guy managed to have a capri sensor (new tiny kinect) and set openni 2 up in ros.

Best regards

[2013-06-26 20:30] jonbinney commented on #11
That's very cool. Good to know that openni2 will work with the capri

[2013-06-27 08:49] Rouno commented on #11
Does it give you clues regarding your library linking troubles ?

[2013-06-27 09:16] hcw70 commented on #10
@jonbinney Please note that https://github.com/hcw70/OpenNI2 is not "the OpenNI2 repo" but a fork of the repo plus debian packaging and raspberry-pi fixes.

[2013-06-27 18:47] jonbinney commented on #10
Oops, yeah I mean the repo that the ROS debs for OpenNI2 get released from, since that is what an installed version of openn2_camera will need to work with.

[2013-06-28 00:08] jonbinney commented on #11
No; we don't have a problem at build time, we have a problem with dynamically loading libraries with dlopen at runtime. So changing things in cmake won't help us.

[2013-07-02 18:51] jonbinney commented on #9
Good point, i've added a note in the readme pointing people to the freenect stack for kinects.

[2013-07-02 18:51] #9 closed, assigned to nobody

[2013-07-04 08:18] Rouno commented on #11
Hi Jon, I have a xtion pro live and I was wondering if openni 2 driver for ROS will support the sensor's stereo microphone ? And if yes, what kind of format could it be.

Regards

[2013-07-04 08:43] hcw70 commented on #11
@Rouno The Xtion audio interface is recognized under Ubuntu as a standard USB audio device and can be used as USB microphone out of the box.

[2013-08-15 23:11] wjwwood commented on #10
I get this on OS X:

[code]

It seems related?

[2013-08-15 23:23] jonbinney commented on #10
@wjwwood do you see this in devel space, or only install space?

[2013-08-15 23:52] wjwwood commented on #10
This was the devel space, I'm not convinced that it is related anymore.

[2013-08-16 00:09] wjwwood commented on #10
Nope, this is definitely the bug mentioned in https://github.com/hcw70/OpenNI2/issues/12

[2013-08-16 00:09] wjwwood commented on #10
It will happen in devel space and install space because it the bug is in openni2.

[2013-08-16 00:10] wjwwood commented on #10
For instance if you launch from the folder where `OpenNI2/Drivers/...` is located, it works.

[2013-08-16 00:35] wjwwood commented on #10
I can get it going with this environment variable:

[code]

[2013-08-16 00:36] jonbinney commented on #10
I only had the problem https://github.com/hcw70/OpenNI2/issues/12 when in install space. In devel space, catkin was getting the correct library path from openni2's pkgconfig info. Then it was adding `OpenNI2/Drivers/...` to LD_LIBRARY_PATH, so things worked for me (on ubuntu 12.04)

If you look in the CMakeLists.txt for openni2_camera, it tries to get the library directory for Openni2 from pkgconf

[2013-08-20 06:52] mikeferguson commented on #10
I posted in https://github.com/hcw70/OpenNI2/issues/12, but I figured I would also post here:

I've been messing around with this today and have a patch that will fix this, by backporting a patch that was made to libopenni's linux xn shared library loader after our branch was made.

@jspricke I presume ROS is using your PPA for the deb, is that right? If so, where are you building your source deb

[2013-08-20 22:03] jspricke commented on #10
I've just pushed new source debs, should be in the PPA soon.

[2013-08-20 22:45] mikeferguson commented on #10
@jspricke thanks!

[2013-08-21 03:27] mikeferguson commented on #10
@tfoote How do we go about getting the updated libopenni2 debians onto packages.ros.org?

[2013-08-21 17:17] tfoote commented on #10
I run a script to import from @jspricke 's PPA. What version do I need to make sure gets imported?

[2013-08-21 17:25] jspricke commented on #10
- Tully Foote notifications@github.com [2013-08-21 10:17]:

2.1.0.4-1~ppa2~*

[2013-08-26 19:04] mikeferguson commented on #10
Deb is now updated, thanks @tfoote

[2013-08-26 19:05] mikeferguson commented on #11
@jonbinney Do you have time to release this, or should I? I can do it later today if your OK with that.

[2013-08-27 00:15] jonbinney commented on #11
@mikeferguson - go ahead and release it. Do you have the permissions you need?

[2013-08-27 00:16] mikeferguson commented on #11
@jonbinney Yep, I have permissions here and in ros-gbp. Release incoming shortly.

[2013-08-27 00:19] jonbinney commented on #11
@mikeferguson are you using the openni2_launch package?

[2013-08-27 00:21] mikeferguson commented on #11
I have been using it for testing, but I think we want to move to rgbd_launch, correct? In which case I will avoid releasing openni2_launch.

[2013-08-27 00:25] jonbinney commented on #11
Yeah, that's why i asked. There's still a need for an openni2_launch package, but it should just be a thin wrapper around rgbd_launch, much like what @piyushk did for the openni_launch package: https://github.com/ros-drivers/openni_launch/blob/hydro-devel/launch/openni.launch

It will be a while before I get around to that (i don't have an xtion right now), but if you wanted to take a crack at it.

[2013-08-29 06:15] mikeferguson commented on #11
Released... I'll close this tickets once the debs make it into public in a few days.

[2013-08-31 06:51] mikeferguson commented on #10
Tested new openni2_camera debs in ros-shadow-fixed -- all looks good.

[2013-08-31 06:51] #10 closed, assigned to jonbinney

[2013-08-31 06:52] mikeferguson commented on #10
@wjwwood If there is still any issue on macOSX, let's get a separate ticket going for that.

[2013-08-31 06:54] mikeferguson commented on #11
Hydro debs are built and working, groovy are still in the queue, but I see no reason they won't work.

[2013-08-31 06:54] #11 closed, assigned to jonbinney

[2013-08-31 16:07] wjwwood commented on #10
I think it is working, but I will open a new ticket if needed.

[2013-08-31 18:00] jonbinney commented on #11
Thanks @mikeferguson !

[2013-09-07 09:09] mikeferguson commented on #7
I can no longer reproduce this and the thread has gone cold -- reopen this if you can reproduce still.

[2013-09-07 09:09] #7 closed, assigned to nobody

[2013-09-07 09:10] mikeferguson commented on #6
I can no longer reproduce this and the thread has gone cold -- reopen this if you can reproduce still.

[2013-09-07 09:10] #6 closed, assigned to nobody

[2013-09-30 00:39] mikeferguson opened #14 "Driver does not retry when configuration fails?"
This isn't actually actionable right now, but keeping logging here for future debugging. On startup I saw:

[code]

Followed by lots of:

[code]

We never reconnected, but restarting my launch file worked. We should probably retry when configuration fails.

[2013-10-01 12:07] liborw opened #15 "How to get shift values"
For the openni_camera I was able to change the output for depth stream to shift values by changing the configuration file at `/etc/openni/GlobalDefaults.ini`. For the openni2 there is a `/etc/openni2/PS1080.ini` which looks very similar. But uncommenting the `OutputFormat=102` doesn't have any effect.

Is there other way how to switch the driver to shift values?

[2013-10-15 21:24] jonbinney commented on #15
Not sure. That doesn't really involve the ROS stuff, so this question may be better for the main openni2 repo: https://github.com/OpenNI/OpenNI2

[2013-11-12 21:13] nxdefiant opened #16 "Typo in cfg?"
Hi,

In OpenNI2.cfg, shouldn't it be

[code]

instead of

[code]

because the order of the values is default, min, max?

[2013-11-12 22:07] jkammerl commented on #16
Thanks for pointing this out! I fixed it in: https://github.com/ros-drivers/openni2_camera/commit/5cefdd106b9ddb1a49d5bb5710c5d6f204798fd7

[2013-11-12 22:07] #16 closed, assigned to nobody

[2013-11-12 22:09] mikeferguson commented on #16
I'll get a new release out this afternoon.

[2013-11-13 20:12] mikeferguson commented on #16
Released in 0.1.1

[2014-07-07 10:27] liborw commented on #15
Actually it is a ROS stuff, the driver reads the `PS1080.ini` but then the configuration in overwritten by the   hard coded pixel format in the https://github.com/ros-drivers/openni2_camera/blob/indigo-devel/src/openni2_driver.cpp#L179. Is this intentional?

[2014-10-13 22:24] mikeferguson commented on #14
Have not seen this in ages, closing.

[2014-10-13 22:24] #14 closed, assigned to nobody

[2014-11-26 07:57] garaemon opened #23 "Upgrade libopenni2 version to 2.2 on hydro"
Now I'm using primesense sensors and it only works on libopenni2 2.2.
I'd like to use it on hydro, so could you upgrade the version of libopenni2?
(I don't know this repository is the correct one to request this issue)

[2014-11-26 08:01] mikeferguson commented on #23
libopenni2 is being released from either https://github.com/jspricke/OpenNI2 or https://github.com/hcw70/OpenNI2, I'm not sure which, but I believe @jspricke did the last release.

That said, these debs are typically built on launchpad -- which means that releasing into hydro is difficult since launchpad has started to tear down build infrastructure as soon as Ubuntu releases go EOL (for instance,

[2014-11-26 08:01] #23 closed, assigned to nobody

[2014-11-26 08:01] garaemon commented on #23
thanks!

[2014-11-26 10:29] jspricke commented on #23
For reference, It's now http://anonscm.debian.org/cgit/pkg-multimedia/openni2.git/. Btw. updating a library is not so easy, because we would have to be careful with ABI changes. I haven't checked it.

[2014-12-10 19:42] stwirth opened #24 "Launching multiple devices by serial number sometimes fails"
When starting two instances of the driver together (e.g. from the same launch file) and both try to access all openni2 devices to request their serial number, one (or both) can (silently) fail. This makes resolving the device URI by serial number impossible (serial numbers for devices that could not be opened on startup are empty).

A possible solution might be to retry reading the serial numbers

[2014-12-10 20:44] mikeferguson commented on #24
What type of devices are using? Do they normally return serial numbers? (I know certain firmware revisions do not return serial numbers at all).

[2014-12-10 20:52] jonbinney commented on #24
Shortrange and longrange carmines. They normally return valid serial numbers; only fail sometimes if you launch two instances of the driver at the same time.

[2015-01-16 21:12] #24 closed, assigned to nobody

[2015-02-03 22:50] jonbinney opened #26 "release 0.2.3?"
Looks like version 0.2.3 has been bloom'ed but no PR was made to rosdistro (indigo rosdistro still has version 0.2.2). @mikeferguson was that intentional?

[2015-02-03 23:12] mikeferguson commented on #26
That was not intentional -- not sure what happened -- created as https://github.com/ros/rosdistro/pull/7079

[2015-02-03 23:12] #26 closed, assigned to nobody

[2015-02-12 10:56] jmtatsch opened #27 "Header file linux/usbdevice_fs.h missing on OS X"
When trying to catkin_make openni2_camera on ROS Indigo / OS X 10. 10.10.2, I get the following error:

[code]

because that header file is not available under OS X.

As a workaround I replaced the include with
# define USBDEVFS_RESET             _IO('U', 20)

which seems to work. How can this be done properly?

[2015-04-07 21:11] mklingen opened #29 "Exposing IR emitter properties through ROS?"
I wonder if it might be possible to expose some of the openni2 emitter properties through ROS in some way? In particular, it would be nice to be able to turn the emitter on and off using a service call which wraps

[code]

I was just wondering if it made much sense considering most of the other properties of this kind are set using the ini file -- but apparently since openni2, they have been made

[2015-04-07 21:15] mikeferguson commented on #29
Probably possible, pull requests welcome.

[2015-04-07 21:32] mklingen commented on #29
I was just wondering if it made much sense considering most of the [other properties of this kind](https://github.com/OpenNI/OpenNI2/blob/master/Include/PS1080.h) are set using the [ini file](https://github.com/OpenNI/OpenNI2/blob/master/Config/OpenNI2/Drivers/PS1080.ini) -- but apparently since openni2, they have been made directly accessible.

[2015-04-27 06:30] hcw70 opened #31 "RGB not working with OpenNi2-Camera on RaspberryPi 2"
I am using the OpenNi2 Camera under Ubuntu 14.04 on RPI2.

Just figured out that the OpenNi2 Camera works reasonable well there but is unable to activate the RGB Camera.
Depth camera works ok.

[2015-04-30 14:19] hcw70 commented on #31
Just had another try, and it worked this time ... 8->

[2015-04-30 14:19] #31 closed, assigned to nobody

[2015-05-06 20:37] chenbaifan commented on #27
I got the same error and fix it with your method. I think it's not proper neither, but don't know how to do.

[2015-05-07 10:06] awesomebytes opened #32 "Release 0.2.4 for hydro?"
Would it be possible to release the last tag for hydro? (Please :P)

[2015-05-07 20:12] mikeferguson commented on #32
@awesomebytes I do not have a 12.04 install to test hydro (and I know that the libopenni2 is different between the two) -- if you can test and confirm that 0.2.4 works on hydro, I will backport the additional changes to hydro and get an 0.1.5 release out.

[2015-05-08 13:11] awesomebytes commented on #32
We use locally the version 0.2.4 (since yesterday) and it works like a charm.

[2015-05-18 17:39] r3n33 opened #33 "Unable to start RGB and Depth streams at the same time"
Running on the ODROID XU3 14.04 I can view
/camera/depth/points but when I enable /camera/rgb/image_raw the point cloud data stops streaming.

There are no errors or warnings present.

I should also mention I've tried with the apt pre-compiled binaries as well as compiling OpenNI2 and openni2_camera from source.

This also prevents registered depth points from working.

Example of problem: https:/

[2015-05-18 17:43] r3n33 commented on #33
I should also mention I've tried with the apt pre-compiled binaries as well as compiling OpenNI2 and openni2_camera from source.

This also prevents registered depth points from working.

[2015-06-01 22:54] r3n33 commented on #33
I'm still hunting for what could be the source of the problem. At some point I discovered changing the camera resolution effects the transmission of camera/depth_registered/points and camera/rgb/image_raw.

Example:
https://www.youtube.com/watch?v=xzXhI9OgCUI

[2015-06-02 01:49] r3n33 commented on #33
Looks like a USB bandwidth problem on the ODROID with the USB 2.0 ports as the problem can be replicated with NiViewer2 with a similar configuration. Use the 3.0 port and/or modify openni2_camera to set color_mode to 640x480 @ 15Hz.

[2015-06-02 01:49] #33 closed, assigned to nobody

[2015-07-20 09:25] stwirth opened #35 "Driver will connect to any device if given device URI could not be resolved"
If the given device ID cannot be resolved through the number (`#1`) or the device at bus `3@1` scheme, the device ID is treated as serial number. If that lookup fails, the last option is to find a string match of the device ID in any device URI. If that match fails, an empty string is returned here: https://github.com/ros-drivers/openni2_camera/blob/indigo-devel/src/openni2_driver.cpp#L719 which m

[2015-08-05 11:18] stwirth opened #36 "Driver has no re-connection logic"
When you launch an openni device with this driver, disconnect it from USB and re-connect it, the driver will recognize those events: [OpenNI2DeviceManager::onDeviceDisconnected()](https://github.com/ros-drivers/openni2_camera/blob/0ede5dd527c18d60ca003c4becf29b728bacf97a/src/openni2_device_manager.cpp#L123) and [OpenNI2DeviceManager::onDeviceConnected()](https://github.com/ros-drivers/openni2_came

[2015-09-24 08:30] smits opened #37 "Pending release"
Could someone release the latest version for indigo-devel?

[2015-09-24 08:32] mikeferguson commented on #37
I'll get this out this weekend (next sync should be at least a week away)

[2015-09-24 08:34] smits commented on #37
Thanks! FYI @b1willaert.

[2015-10-15 11:13] smits commented on #37
Any news on this?

[2015-10-15 16:42] mikeferguson commented on #37
https://github.com/ros/rosdistro/pull/9654

[2015-10-15 16:42] #37 closed, assigned to mikeferguson

[2015-10-16 07:26] smits commented on #37
Thanks a lot!

On Thu, Oct 15, 2015 at 6:42 PM Michael Ferguson notifications@github.com
wrote:

[2016-01-02 20:29] mikeferguson commented on #32
closing as Hydro is EOL -- we missed the window on this one.

[2016-01-02 20:29] #32 closed, assigned to nobody

[2016-01-02 20:29] mikeferguson commented on #27
Fixed by https://github.com/ros-drivers/openni2_camera/pull/30

[2016-01-02 20:29] #27 closed, assigned to nobody

[2016-04-19 11:45] filipetrocadoferreira opened #41 "FPS Limit"
Is there any way to limit the rate of acquisition. Because I'm having limited computation resources and I thought this could help.

Thanks!

[2016-05-02 16:37] mintar commented on #33
In case somebody stumbles on this in the future (as I just did): I had the same problem with an ODROID-XU4. Streaming color + depth simultaneously at full 640x480 @ 30 Hz doesn't work on the USB 3.0 ports. Reducing resolution works, or alternatively switching to the **USB 2.0 (!)** port made it work for me.

[2016-05-04 16:55] 130s opened #42 "Release 0.2.6 (or greater) into IJK"
Particularly it's requested [here](http://lists.ros.org/pipermail/ros-release/2016-May/004868.html) for Kinetic.

I'm taking care of this.

[2016-05-04 18:52] 130s commented on #42
I https://github.com/ros/rosdistro/pull/11392
J https://github.com/ros/rosdistro/pull/11393
K https://github.com/ros/rosdistro/pull/11394

[2016-05-04 18:52] #42 closed, assigned to 130s

[2016-05-20 07:12] tfoote opened #43 "openni2_driver_lib needs a dependency on GetSerial"
It's failing to build on Xenial 64 due to this: http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__openni2_camera__ubuntu_xenial_amd64__binary/22/console

[code]

I believe [this line](https://github.com/ros-drivers/openni2_camera/blob/2dc246feb39f13a8e7f8b362dc1c5478abae668d/CMakeLists.txt#L54) needs the additional dependency `${PROJECT_NAME}_generate_messages_cpp`

Surprisingly this is the only

[2016-05-26 16:00] jackieokay commented on #43
It would be if we could fix this ASAP (at least before the next Kinetic sync) since currently neither openni2_camera nor freenect_stack are available for Kinetic. @130s

[2016-05-26 16:03] mikeferguson commented on #43
@jacquelinekay  -- if you can open a PR I can get it merged release -- but I don't have compile/test capabilities at the moment

[2016-05-26 19:36] jackieokay commented on #43
I think #44 will fix this.

[2016-06-07 16:10] jackieokay commented on #43
I think the build is still failing because the fixed version needs a release.

[2016-06-07 16:14] mikeferguson commented on #43
@jacquelinekay I never saw a "build has returned to normal" on the deb, so I forgot to release -- I see http://build.ros.org/job/Kdev__openni2_camera__ubuntu_xenial_amd64/changes -- releasing now

[2016-06-07 16:18] mikeferguson commented on #43
https://github.com/ros/rosdistro/pull/11768

[2016-06-07 16:18] #43 closed, assigned to nobody

[2016-12-21 17:03] mintar commented on #41
Yes, you can use the dynamically reconfigurable parameter `data_skip`.

Since this issue is now 8 months old, I think it can be closed.

[2016-12-21 19:47] #41 closed, assigned to nobody

[2017-04-29 23:15] #35 closed, assigned to nobody

[2017-06-20 16:32] mikaelarguedas opened #49 "Lunar Release"
Howdy openni2_camera maintainers!

It would be really awesome to have a Lunar release of this very widely used package.
Thanks!

[2017-08-05 19:12] mikaelarguedas commented on #49
Howdy @mikeferguson, any update on this ? it would be really great to have openni2 drivers in Lunar :smile:

[2017-08-17 15:43] 130s commented on #49
@mikeferguson @ros-drivers/openni @wjwwood I can help release stuff if that helps, same as I do for  many other repos. If that sounds good one of you please add me write access here, possible `openni2_launch` and `*-release` repos. Thx.

[2017-08-17 15:49] 130s commented on #49
Looks like I've already have one for all necessary repos. I'll take care of these.

[2017-08-17 15:58] 130s commented on #36
This issue is labeled as `enhancement` but IMO it's close to bug (though I'm saying this w/o seeing a spec if such thing exists).

Either way, I'm facing an issue probably caused by what @stwirth described. In our application we noticed that Xtion gets disconnected and connected again in system/OS level. Problem is that ROS driver remains disconnected once that happens. This happens only non-perio

[2017-08-20 12:55] 130s commented on #49
https://github.com/ros/rosdistro/pull/15795 done

[2017-08-20 12:55] #49 closed, assigned to 130s

[2017-08-21 16:43] mikaelarguedas commented on #49
thanks @130s !

[2017-08-25 13:30] 130s commented on #36
Another approach for addressing this issue than what @stwirth mentioned can be to simply exit and  respawn `nodelet` ([this thread](https://answers.ros.org/question/220937/ctrl-c-shutdown-of-nodelet-manager-versus-calling-shutdown-inside-of-nodelet-manager/) might give a hint to do so), which sounds easier to implement. I'll try this way.

[2017-08-25 20:17] 130s commented on #36
I might take back what I said in https://github.com/ros-drivers/openni2_camera/issues/36#issuecomment-324920619 ; By respawning the camera's nodelet the subscribers could stop receiving data after respawning and there might be nothing this driver package can do for that. Meanwhile the way in https://github.com/ros-drivers/openni2_camera/issues/36#issue-99181019 I assume subscribers still can get t

[2017-08-28 02:57] 130s commented on #49
Version 0.2.8 also made into Indigo https://github.com/ros/rosdistro/pull/15796
Kinetic https://github.com/ros/rosdistro/pull/15797

[2017-08-28 14:32] wnklmx opened #50 "Adding functionality to set CloseRange property"
While testing the new Asus Xtion 2 (which is a great unit btw, anybody who wants more information is welcome to ask) I found out that it features a close range mode.
I can toggle it in the newest version of the NiViewer and the important part of the code can be found here:
https://github.com/OpenNI/OpenNI2/blob/115cf06c6efea32304182d293eca16ca883c9150/Source/Tools/NiViewer/Device.cpp#L365

It woul

[2017-08-29 01:25] shaun-edwards opened #51 "Fails to set RGB exposure on before image streaming"
I would like to set the RGB exposure level on startup.  I am using ROS Indigo on Ubuntu 14.04 (openni2_camera package built from source).  The exposure level cannot be set unless the camera is actively streaming data, see [Openni2 issue](https://github.com/occipital/OpenNI2/issues/125).  However, even if that issue is resolved, setting exposure on start up will still fail (but in a different way).

[2017-08-31 03:32] shaun-edwards commented on #51
A potential work-around is to set the exposure in the `ColorConnectCb()` method directly on stream start.

[2017-08-31 13:31] shaun-edwards commented on #51
Setting the exposure in the callback works as long as there is a small delay after the stream is started.

NOTE: Mixing auto white balance and fixed exposure setting rejected by the camera.  If white balance is used at all, the exposure setting is inconsistent.  If using a fixed exposure, it is recommended that auto white balance be disabled on startup.

[2017-08-31 18:29] 130s commented on #36
Update: We have working patch in our fork that consists of https://github.com/plusone-robotics/openni2_camera/pull/1 and https://github.com/plusone-robotics/openni2_camera/pull/2.

[2017-09-01 15:05] shaun-edwards commented on #36
The forks @130s mention address re-connection issues along with exposure setting.  If a camera reconnects and auto exposure/white balance and/or exposure were modified, one would like the camera to maintain those settings so that the images are consistent (before and after disconnection).  It turns out, that is easier said than done.  I focused on resetting to a fixed exposure, since that seemed t

[2017-10-01 20:17] 130s commented on #14
May or may not be related to #36, which has an open PR #53.

[2017-10-26 05:50] #36 closed, assigned to 130s

[2017-10-26 05:51] 130s commented on #51
Fixed via https://github.com/ros-drivers/openni2_camera/pull/53

[2017-10-26 05:51] #51 closed, assigned to nobody

[2017-11-04 02:00] 130s opened #58 "[CLOSED] removed leading slashes from tf frames for hydro"
<a href="https://github.com/hershwg"><img src="https://avatars3.githubusercontent.com/u/2372515?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [hershwg](https://github.com/hershwg)**
_Tuesday Jul 23, 2013 at 19:06 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/pull/1_

----

The hydro version of "tf" no longer supports having a leading slash "/

[2017-11-04 02:00] 130s commented on #58
<a href="https://github.com/jkammerl"><img src="https://avatars2.githubusercontent.com/u/1801711?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jkammerl](https://github.com/jkammerl)**
_Tuesday Jul 23, 2013 at 19:16 GMT_

----

Looks good to me! However I don't have permission to accept this pull request.

[2017-11-04 02:00] 130s commented on #58
<a href="https://github.com/jonbinney"><img src="https://avatars0.githubusercontent.com/u/1538056?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jonbinney](https://github.com/jonbinney)**
_Tuesday Aug 27, 2013 at 00:18 GMT_

----

Seems this fell through the cracks. Merging...

[2017-11-04 02:00] 130s opened #59 "[CLOSED] Refactor to use rgbd_launch"
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikeferguson](https://github.com/mikeferguson)**
_Sunday Sep 01, 2013 at 05:40 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/2_

----

There's still a need for an openni2_launch package, but

[2017-11-04 02:00] 130s commented on #59
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Sunday Sep 01, 2013 at 05:42 GMT_

----

@jonbinney I created a separate ticket to track this, I can probably address it next week.

[2017-11-04 02:00] 130s commented on #59
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Saturday Sep 07, 2013 at 08:58 GMT_

----

done in https://github.com/ros-drivers/openni2_launch/pull/4

[2017-11-04 02:00] 130s opened #60 "[CLOSED] Add machine parameter"
<a href="https://github.com/liborw"><img src="https://avatars2.githubusercontent.com/u/132918?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [liborw](https://github.com/liborw)**
_Monday Sep 02, 2013 at 08:08 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/pull/3_

----

This pull request will enable to launch openni2 driver on different machine

[2017-11-04 02:00] 130s commented on #60
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Thursday Sep 05, 2013 at 03:24 GMT_

----

@liborw -- the manager.launch aspects of this should be sent to rgbd_launch. If you open a pull request on that, as soon as I see

[2017-11-04 02:00] 130s commented on #60
<a href="https://github.com/liborw"><img src="https://avatars2.githubusercontent.com/u/132918?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [liborw](https://github.com/liborw)**
_Thursday Sep 05, 2013 at 08:15 GMT_

----

Ok, I was not aware of rgbd_launch.

[2017-11-04 02:00] 130s commented on #60
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Thursday Sep 05, 2013 at 16:43 GMT_

----

@liborw not a problem, most of the discussion on rgbd_launch happened on other issue trackers (such as the one for openni2_camera

[2017-11-04 02:00] 130s commented on #60
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Friday Sep 06, 2013 at 20:33 GMT_

----

I've added the components to openni2.launch with this PR https://github.com/ros-drivers/openni2_launch/pull/4.

[2017-11-04 02:00] 130s opened #61 "[CLOSED] Update openni2_launch to be thin wrapper around rgbd_launch"
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikeferguson](https://github.com/mikeferguson)**
_Thursday Sep 05, 2013 at 03:15 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/pull/4_

----

Should not be merged until this is merged: https://gith

[2017-11-04 02:00] 130s commented on #61
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Thursday Sep 05, 2013 at 03:20 GMT_

----

@jonbinney @hershwg You are the only people I know for certain were using this (based on commits) -- please let me know if this b

[2017-11-04 02:00] 130s commented on #61
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Thursday Sep 05, 2013 at 03:25 GMT_

----

Also, I will insert a dependency on rgbd_launch when I update the maintainer email before release.

[2017-11-04 02:00] 130s commented on #61
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Friday Sep 06, 2013 at 20:32 GMT_

----

Merging this... will push a debian release this afternoon

[2017-11-04 02:00] 130s opened #62 "[CLOSED] Release openni2_launch into Hydro"
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bit-pirate](https://github.com/bit-pirate)**
_Tuesday Sep 10, 2013 at 09:47 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/5_

----

Is there any show stopper we know of?

[2017-11-04 02:00] 130s commented on #62
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Tuesday Sep 10, 2013 at 10:36 GMT_

----

I intend to release tomorrow (I intended to release back on friday, but didn't get to it). I want to sync the groovy branch up a b

[2017-11-04 02:00] 130s commented on #62
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Tuesday Sep 10, 2013 at 11:21 GMT_

----

https://github.com/ros/rosdistro/pull/2064

[2017-11-04 02:00] 130s opened #63 "[CLOSED] enables proper namespacing"
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bit-pirate](https://github.com/bit-pirate)**
_Monday Sep 16, 2013 at 07:26 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/pull/6_

----

This is similar to https://github.com/ros-drivers/openni_launc

[2017-11-04 02:00] 130s commented on #63
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Monday Sep 16, 2013 at 07:49 GMT_

----

I think this was missed when I moved over to using rgbd_launch. Name should probably be /camera/nodelet_manager, not /camera/camera

[2017-11-04 02:00] 130s commented on #63
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Monday Sep 16, 2013 at 08:00 GMT_

----

We kept that as it was before as we didn't see any drawbacks nor benefits. This is the same as it is in openni1_launch.

[2017-11-04 02:00] 130s commented on #63
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Monday Sep 16, 2013 at 08:01 GMT_

----

ok, lgtm then

[2017-11-04 02:00] 130s opened #64 "[CLOSED] parameter depth_registration not available"
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bit-pirate](https://github.com/bit-pirate)**
_Monday Sep 16, 2013 at 07:28 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/7_

----

I just switched the default for one of the robots here from

[2017-11-04 02:00] 130s commented on #64
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Monday Sep 16, 2013 at 07:50 GMT_

----

The original set of launch files was not very 1-to-1 with older openni or new rgbd_launch. I think this is as simple as exposing th

[2017-11-04 02:00] 130s commented on #64
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Monday Sep 16, 2013 at 08:41 GMT_

----

OK, I'll see what I can do.

[2017-11-04 02:00] 130s opened #65 "[CLOSED] release"
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikeferguson](https://github.com/mikeferguson)**
_Saturday Sep 21, 2013 at 04:36 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/8_

----

need a new release with #6 included

[2017-11-04 02:00] 130s commented on #65
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Monday Sep 23, 2013 at 03:04 GMT_

----

Maybe wait for #7 and #9 gets fixed.

[2017-11-04 02:00] 130s commented on #65
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Wednesday Sep 25, 2013 at 18:33 GMT_

----

@bit-pirate I pushed an 0.1.1 with just the namespacing change (I have some launch files that add additional nodelets to the pip

[2017-11-04 02:00] 130s opened #66 "disabling hardware depth registration leads to error"
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bit-pirate](https://github.com/bit-pirate)**
_Monday Sep 23, 2013 at 02:59 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/9_

----

When I deactivated depth registration via rqt_reconfigure, I

[2017-11-04 02:01] 130s commented on #66
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Monday Sep 23, 2013 at 03:05 GMT_

----

Maybe @piyushk knows what's going wrong.

[2017-11-04 02:01] 130s commented on #66
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Monday Sep 23, 2013 at 16:56 GMT_

----

@bit-pirate I don't have anything other than a kinect at hand at the moment, so I can't test this directly. Can you try and locate which nodelet

[2017-11-04 02:01] 130s commented on #66
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Tuesday Sep 24, 2013 at 04:15 GMT_

----

It's the registration nodelet (PointCloudXyzrgbNodelet) complaining:

[code]

Looks to me like the driver is outputting images or point

[2017-11-04 02:01] 130s commented on #66
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Tuesday Sep 24, 2013 at 15:32 GMT_

----

I suspect the s/w registration pipeline is broken somehow. Once s/w
registered, the depth image should have the RGB image frame id. I'm not
sure

[2017-11-04 02:01] 130s commented on #66
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Wednesday Sep 25, 2013 at 18:35 GMT_

----

@bit-pirate you mention "disable via rqt" -- does software registration work correctly if you start up in that mode?

[2017-11-04 02:01] 130s commented on #66
<a href="https://github.com/liborw"><img src="https://avatars2.githubusercontent.com/u/132918?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [liborw](https://github.com/liborw)**
_Tuesday Oct 01, 2013 at 08:07 GMT_

----

I have the same problem when started without the hardware registration (not using the dynamic reconfigure).

[2017-11-04 02:01] 130s commented on #66
<a href="https://github.com/liborw"><img src="https://avatars2.githubusercontent.com/u/132918?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [liborw](https://github.com/liborw)**
_Tuesday Oct 01, 2013 at 08:46 GMT_

----

The problem is, that one must also set `hw_registered_processing` to `false` and `sw_registered_processing` to `true` along with the `depth_registra

[2017-11-04 02:01] #58 closed, assigned to nobody

[2017-11-04 02:01] #59 closed, assigned to nobody

[2017-11-04 02:01] #60 closed, assigned to nobody

[2017-11-04 02:01] #61 closed, assigned to nobody

[2017-11-04 02:01] #62 closed, assigned to nobody

[2017-11-04 02:01] #63 closed, assigned to nobody

[2017-11-04 02:01] #64 closed, assigned to nobody

[2017-11-04 02:01] #65 closed, assigned to nobody

[2017-11-04 02:12] 130s opened #67 "disabling hardware depth registration leads to error"
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bit-pirate](https://github.com/bit-pirate)**
_Monday Sep 23, 2013 at 02:59 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/9_

----

When I deactivated depth registration via rqt_reconfigure, I

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Monday Sep 23, 2013 at 03:05 GMT_

----

Maybe @piyushk knows what's going wrong.

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Monday Sep 23, 2013 at 16:56 GMT_

----

@bit-pirate I don't have anything other than a kinect at hand at the moment, so I can't test this directly. Can you try and locate which nodelet

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Tuesday Sep 24, 2013 at 04:15 GMT_

----

It's the registration nodelet (PointCloudXyzrgbNodelet) complaining:

[code]

Looks to me like the driver is outputting images or point

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Tuesday Sep 24, 2013 at 15:32 GMT_

----

I suspect the s/w registration pipeline is broken somehow. Once s/w
registered, the depth image should have the RGB image frame id. I'm not
sure

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Wednesday Sep 25, 2013 at 18:35 GMT_

----

@bit-pirate you mention "disable via rqt" -- does software registration work correctly if you start up in that mode?

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/liborw"><img src="https://avatars2.githubusercontent.com/u/132918?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [liborw](https://github.com/liborw)**
_Tuesday Oct 01, 2013 at 08:07 GMT_

----

I have the same problem when started without the hardware registration (not using the dynamic reconfigure).

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/liborw"><img src="https://avatars2.githubusercontent.com/u/132918?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [liborw](https://github.com/liborw)**
_Tuesday Oct 01, 2013 at 08:46 GMT_

----

The problem is, that one must also set `hw_registered_processing` to `false` and `sw_registered_processing` to `true` along with the `depth_registra

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Tuesday Oct 01, 2013 at 09:00 GMT_

----

@liborw if you leave both pipelines running, do you get a massive number of errors?

If so, I think we can fix that, around here h

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/liborw"><img src="https://avatars2.githubusercontent.com/u/132918?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [liborw](https://github.com/liborw)**
_Tuesday Oct 01, 2013 at 09:23 GMT_

----

@mikeferguson I get some errors same are mentioned above when the `depth_registration` is `false`, no errors when `true`. But that way both pipeline

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Tuesday Oct 01, 2013 at 09:51 GMT_

----

I've merged #12 as a temporary fix, I'm pretty certain that with a few updates to the drivers we can leave both sw and hw registra

[2017-11-04 02:12] 130s commented on #67
<a href="https://github.com/achim-k"><img src="https://avatars3.githubusercontent.com/u/9250155?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [achim-k](https://github.com/achim-k)**
_Thursday May 11, 2017 at 14:54 GMT_

----

I think we need an extra publisher to `depth_registered/image_raw` to solve this problem. Depending whether `depth_registration` is enabled, th

[2017-11-04 02:12] 130s opened #68 "No disparity data on /camera/depth/disparity with Asus Xtion Pro"
<a href="https://github.com/pirobot"><img src="https://avatars2.githubusercontent.com/u/873507?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [pirobot](https://github.com/pirobot)**
_Friday Jan 23, 2015 at 15:43 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/22_

----

When using an Asus Xtion Pro and the latest Indigio Debian packages u

[2017-11-04 02:12] 130s commented on #68
<a href="https://github.com/pirobot"><img src="https://avatars2.githubusercontent.com/u/873507?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pirobot](https://github.com/pirobot)**
_Friday Jan 23, 2015 at 23:09 GMT_

----

By the way, adding depth_registration:=true to the launch arguments:

$ roslaunch openni2_launch openni2.launch depth_registration:=true disparity

[2017-11-04 02:12] 130s commented on #68
<a href="https://github.com/tobyhijzen"><img src="https://avatars3.githubusercontent.com/u/1433073?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [tobyhijzen](https://github.com/tobyhijzen)**
_Tuesday Apr 07, 2015 at 11:36 GMT_

----

Were you able to fix this? I've run into the same problem.

[2017-11-04 02:12] 130s opened #69 "Openni2 does not handle oni files"
<a href="https://github.com/rastaxe"><img src="https://avatars2.githubusercontent.com/u/3437604?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rastaxe](https://github.com/rastaxe)**
_Tuesday Feb 23, 2016 at 08:37 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/26_

----

I am not able to load a oni file (OpenNI record file) with openni2

[2017-11-04 02:12] 130s commented on #69
<a href="https://github.com/mikeferguson"><img src="https://avatars1.githubusercontent.com/u/899410?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikeferguson](https://github.com/mikeferguson)**
_Sunday Mar 06, 2016 at 10:04 GMT_

----

I'm guessing it is due to this commit: https://github.com/ros-drivers/openni2_camera/commit/17c10725a3df469d9663e6f6ffd0bea5dbf2bf6

[2017-11-04 02:12] 130s commented on #69
<a href="https://github.com/rastaxe"><img src="https://avatars2.githubusercontent.com/u/3437604?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rastaxe](https://github.com/rastaxe)**
_Tuesday Mar 08, 2016 at 19:47 GMT_

----

It worked! Thanks.
I simply added this to line 682:
[code]
[code]

[2017-11-04 02:12] 130s commented on #69
<a href="https://github.com/lianera"><img src="https://avatars2.githubusercontent.com/u/12126150?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lianera](https://github.com/lianera)**
_Friday Apr 08, 2016 at 06:08 GMT_

----

Same issue here, does anyone has a fixed fork?

[2017-11-04 02:12] 130s commented on #69
<a href="https://github.com/rastaxe"><img src="https://avatars2.githubusercontent.com/u/3437604?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rastaxe](https://github.com/rastaxe)**
_Friday Apr 08, 2016 at 06:36 GMT_

----

If you add the above two lines to line 682, it fixes the problem.
I did a pull request on openni2_camera.

[2017-11-04 02:12] 130s commented on #69
<a href="https://github.com/lianera"><img src="https://avatars2.githubusercontent.com/u/12126150?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lianera](https://github.com/lianera)**
_Friday Apr 08, 2016 at 07:10 GMT_

----

@rastaxe problem solved, thanks a lot :+1:

[2017-11-04 02:12] 130s opened #70 "FPS Limit?"
<a href="https://github.com/filipetrocadoferreira"><img src="https://avatars2.githubusercontent.com/u/14791576?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [filipetrocadoferreira](https://github.com/filipetrocadoferreira)**
_Monday Apr 18, 2016 at 11:33 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/28_

----

Is there any way to limit

[2017-11-04 02:12] 130s opened #71 "Unable to stream SXGA raw color images"
<a href="https://github.com/ljklonepiece"><img src="https://avatars1.githubusercontent.com/u/5576339?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ljklonepiece](https://github.com/ljklonepiece)**
_Tuesday May 24, 2016 at 01:00 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/31_

----

I am using openni2_launch for Xtion Pro Live camera.

[2017-11-04 02:12] 130s opened #72 "Launch openni2.launch in remove machine with machine tag & attributes"
<a href="https://github.com/wkentaro"><img src="https://avatars2.githubusercontent.com/u/4310419?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [wkentaro](https://github.com/wkentaro)**
_Friday Jun 17, 2016 at 12:54 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/32_

----

Currently it seems not-implemented..

[2017-11-04 02:12] 130s opened #73 "`device_id` arg ignores device id?"
<a href="https://github.com/130s"><img src="https://avatars0.githubusercontent.com/u/1840401?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [130s](https://github.com/130s)**
_Thursday Aug 31, 2017 at 19:02 GMT_
_Originally opened as https://github.com/ros-drivers/openni2_launch/issues/38_

----

I need to confirm by myself but I have a feeling as per subject, e.g. with

[2017-11-04 12:01] NikolasE commented on #29
I tried to implement the feature, but I get an exception if I try to set the state:

[code]

	Failed to set property 1080e007: Device Protocol: Unsupported opcode!
	Device.setProperty(1080e007) failed

Any ideas?

// device_->startDepthStream() / stopDepthStream toggle the emitter,

[2017-11-14 00:27] Jmeyer1292 opened #74 "Depth Data And Focal Lengths"
Howdy,

I have an ASUS Xtion Pro Live that I want to calibrate and use to guide a robot to perform a process that involves touching surfaces. I need to calibrate this camera and use its intrinsic parameters (e.g focal lengths).

I have noticed that running the calibration process and producing a calibration file in `.ros/camera_info` will change the published depth camera_info to match the IR imag

[2018-01-16 12:31] warp1337 opened #77 "No matching device found ..."
Hi everyone.

I am building openni2_camera (indigo-devel branch) from source. Grabbing images was working two months ago. However, today I rebuilt the system and I got the following error message when firing up the grabber:

<pre>
[ INFO] [1516105619.826425870]: No matching device found.... waiting for devices. Reason: std::__cxx11::string openni2_wrapper::OpenNI2Driver::resolveDeviceURI(const str

[2018-01-16 17:14] warp1337 commented on #77
Closing. I discovered, that this was due to a broken openni2 installation on my side.

[2018-01-16 17:14] #77 closed, assigned to nobody

[2018-03-01 22:56] 5yler commented on #71
I'm experiencing the same issue with a Primesense Carmine 1.09 camera. If I switch to SXGA_30Hz I get the following error:
[code]

[2018-04-26 17:20] TheRobotStudio opened #79 "Params to change the tf relatively to a specific device"
Hello,
It may exist but I couldn't find a way to change the xyz rpy of each tf relatively to the main link.
I'd like to change them to fit my Asus Xtion Pro, and in order for the RGB to better match the point cloud.

Is there a way to do that ?
Thanks!

[2018-06-12 05:06] xoxota99 opened #81 "Support for ROS Kinetic?"
Will the indigo_devel branch work without modification on ROS Kinetic?

[2018-06-12 15:37] xoxota99 commented on #81
https://github.com/ros-drivers/openni2_camera/blob/indigo-devel/.travis.yml seems to suggest that it will.

[2018-06-12 15:37] #81 closed, assigned to nobody

[2018-06-12 15:39] xoxota99 opened #82 "Support occipital (structure.io) sensor?"
Will this driver work with the structure.io sensor (which also uses OpenNI2)? I'm currently using https://github.com/fangchangma/openni2_ros_wrapper , but would love to get the additional color and raw depth sensor messages that this driver offers...

[2018-06-13 08:29] CesMak opened #83 "rgb_camera info and depth_camera info are the same?!"
If I
[code]

and have seperate .yaml files openni2 publishes the exact same messages on these topics:
camera/rgb/camera_info
camera/depth/camera_info

[2018-07-02 14:56] Abduoit opened #84 "How to use openni2 with kinetic ??"
I want to use openni2 with Kinetic as mention here
https://github.com/ros-gbp/openni2_launch#openni2_launch-kinetic---022-0

Any help is appreciated

I am getting the following output
`
[ INFO] [1530543321.228722086]: No matching device found.... waiting for devices. Reason: std::__cxx11::string openni2_wrapper::OpenNI2Driver::resolveDeviceURI(const string&) @ /home/abdu/catkin_ws/src/openni2_came

[2018-07-02 15:11] 130s commented on #84
- Closing. Please re-post on http://answers.ros.org/, which is the place for this type of questions to get the most responses.
- Find a user documentation [docs.ros.org/kinetic/openni2_launch](http://docs.ros.org/kinetic/api/openni2_launch/html/) as [referenced from official wiki](http://wiki.ros.org/openni2_launch#Usage) (I'm not sure how you reached the link you provded...that should not be refe

[2018-07-02 15:11] #84 closed, assigned to nobody

[2018-07-02 15:21] Abduoit commented on #84
Thanks for your answer
I am sure the kinect is detected by `lsusb`.

I provided the link that you also answered there as a member.

Does this repo allow using kinectv1 with ros kinetic ?
thank you

[2018-07-03 16:54] 130s opened #85 ""Old" version of Asus Xtion connects, but disconnects without helpful notification"
Reported in [this thread](https://answers.ros.org/question/295938/openni2-reconnection-loop-to-the-sensor/?answer=295984#post-id-295984).

Technically we *could* implement a logic to check the the driver's compatibility by looking at manufacturor's device id (Then we need to address the concern at https://github.com/ros-drivers/openni2_camera/pull/80#discussion_r198559644).

[2018-07-08 20:34] amalgmar12 opened #86 "using openni2_launch with kinect box 360"
Hi,
I used  kinect with openni_launch and everything works fine. However , I installed openni2 and libreenect , and I followed the tutorial but , It show me "no device" as bellow . I will be so grateful if you help me to find a solution .Thanks for advance :+1:
os: Elementary os
ros version : Kinetic
![openni2](https://user-images.githubusercontent.com/37368595/42423698-ab79e3fc-82f6-11e8-9b53-e75

[2018-07-18 02:18] 130s commented on #86
Thanks for the interest. Since you can probably get better response for a question like this at ROS question forum, please ask there https://answers.ros.org/questions/. Closing.

[2018-07-18 02:18] #86 closed, assigned to nobody

[2018-07-18 02:18] 130s commented on #82
Thanks for the interest. Since you can probably get better response for a question like this at ROS question forum, please ask there https://answers.ros.org/questions/. Closing.

[2018-07-18 02:18] #82 closed, assigned to nobody

[2018-07-18 02:19] 130s commented on #83
Thanks for the interest. Since you can probably get better response for a question like this at ROS question forum, please ask there https://answers.ros.org/questions/. Closing.

[2018-07-18 02:19] #83 closed, assigned to nobody

[2018-07-18 02:37] 130s opened #87 "ABI check failed for ROS Melodic"
https://github.com/ros-drivers/openni2_camera/pull/80#issuecomment-405789999

[2018-09-21 06:18] saikishor commented on #66
@130s @liborw I am having the same issue, but when setting the depth registration to false via rqt_reconf. If I set it directly when I run my node, there is no such issue. I would like to know whether this issue has been resolved or not?.

[2018-09-22 00:14] 130s commented on #66
Assuming from the last update on this ticket was back in 2013, very few people have had either experienced this issue or been interested in tracking this down. So it'd be great if you @saikishor can look into it deeper, and come up with a workaround to the least (or open a fix via pull request to the best).

[2018-09-22 16:43] tlind opened #88 "Required arguments id_manufacturer, id_product not set in openni2_tf_prefix.launch"
Commit ff647b83d86c introduced a regression because `openni2_tf_prefix.launch` was not updated with the arguments `id_manufacturer` and `id_product`, which are since then required by `device.launch.xml`. Instead, `openni2.launch` was modified appropriately.

This means that currently `openni2_tf_prefix.launch` cannot be used if `load_driver` is true.

[2018-09-22 17:45] 130s commented on #88
Thanks for the report. Do you think you can open a pull request?
(I'm the one who made the referenced commit but it might take at least a few days for me to get to it).

[2018-09-25 06:09] 130s commented on #88
@tlind Please let me know if you're planning to provide a fix. Otherwise I'll try to squeeze my time into this later this week, as this is bad.

[2018-09-25 16:24] tlind commented on #88
I unfortunately won't have the chance to submit a pull request within the next few days.

[2018-10-04 07:45] 130s commented on #88
Opened PR https://github.com/ros-drivers/openni2_camera/pull/89

[2018-10-20 07:45] #88 closed, assigned to nobody

[2018-10-24 00:19] 130s opened #90 "ros2 adaption"
Continued from a [discussion](https://discourse.ros.org/t/openni2-launch-porting-to-ros2/6567).

For those who are interested in making this happen, please voice up here.

(As a maintainer personally, I'm not planning to spend any of my time on this in the forseeable future.)

[2018-10-24 12:07] christian-rauch opened #91 "Low framerate on rectified and compressed topics"
I am using an Asus Xtion PRO Live on Ubuntu 18.04 / ROS melodic.

On topics `/camera/depth/image` and `/camera/depth/image_raw` I get the full framerate of ~30fps.
But on the rectified topics `/camera/depth/image_rect` and `/camera/depth/image_rect_raw` and the compressed topics `/camera/depth/image/compressedDepth` and `/camera/depth/image_raw/compressedDepth` I only get about 8fps.

Is there som

[2018-10-24 14:31] christian-rauch commented on #91
It turns out this is related to the `compressedDepth` png compression level which is set by default to 9. Setting it to the lowest level (1) gives the full framerate: `rosrun dynamic_reconfigure dynparam set /camera/depth/image_rect_raw/compressedDepth png_level 1`.

I think I missed that parameter because I thought that `compressedDepth` is using a custom depth compression using quantisation and

[2018-10-24 19:58] prasenjitdan commented on #90
Thanks, Isaac for creating this post.

All,
Please let me know if any of you have any concern for my team to work on openni2_launch porting to ROS2.

Thanks,
Dan

[2018-10-24 21:18] #91 closed, assigned to nobody

[2019-01-25 17:40] pl-kabaradjian opened #93 "Compatibility with low resolutions"
Hello,

I have been trying to use this package with an in-house device that is a QQQVGA (80x60) depth camera, that can output an IR stream and a Depth stream through a working OpenNI2 proprietary driver. There is no RGB output on this device.

When trying to naively run the openni2_camera_node it is giving me the famous:

`[ERROR] [1548437429.970623586]: Unsupported IR video mode - Resolution: 640

[2019-04-02 10:23] #93 closed, assigned to nobody

[2019-04-15 03:31] Sivasankar-Ganesan commented on #93
Hi I am getting same error.
How did you solve this?

[2019-04-15 03:42] Sivasankar-Ganesan commented on #93
I am getting error as
process[camera_base_link-11]: started with pid [10934]
process[camera_base_link1-12]: started with pid [10967]
process[camera_base_link2-13]: started with pid [10973]
process[camera_base_link3-14]: started with pid [10982]
[Info] [Freenect2Impl] enumerating devices...
[Info] [Freenect2Impl] 7 usb devices connected
[Info] [Freenect2Impl] found valid Kinect v2 @2:5 with serial

[2019-09-26 09:50] RaymondCM opened #94 "[help] Custom camera and driver"
Could any one inform me how I can use the PicoZense camera with this repo? They provide an OpenNI2 SDK containing drivers. Where do I put the drivers etc?

https://github.com/PicoInteractive/ZenseSDK_Linux/tree/Ubuntu16.04

[2019-10-02 13:42] RaymondCM commented on #94
Closing due to dead repo.

[2019-10-02 13:42] #94 closed, assigned to nobody

[2019-10-23 12:44] Ashok93 opened #95 "Depth and RGB image not aligned"
I have subscribed to the rectified topics `/camera/depth/image_rect` and `/camera/rgb/image_rect_color` but the pixels of the RGB and depth images are not aligned(there is some offset).
Kindly help me in this regard.

[2019-10-28 17:37] Ashok93 commented on #95
Sorry, I missed the depth registered param.

[2019-10-28 17:37] #95 closed, assigned to nobody

[2020-06-03 22:49] 130s opened #99 "ROS Noetic release"

[2020-06-03 22:50] 130s commented on #99
Submitted to rosdistro https://github.com/ros/rosdistro/pull/25305

[2020-06-03 22:50] #99 closed, assigned to 130s

[2020-06-12 13:48] mikeferguson commented on #90
For anyone looking at this - I've got a port of openni2_camera started here: https://github.com/mikeferguson/openni2_camera/tree/ros2

Status:
 * ~~Split services IDL into openni2_camera_msgs package. I may revert this now that I've found out how to properly specify dependencies on messages in the same package.~~ This has been reverted
 * The nodelet has been refactored into an rclcpp component ca

[2020-11-13 17:33] MatthijsBurgh opened #100 "StringID instead of serialnumber?"
Is there any reason why the StringID of the device is used as serialnumber in the color/ir name instead of serialnumber? This breaks compared to `openni`, which does use the real serialnumber.

`openn`i: https://github.com/ros-drivers/openni_camera/blob/indigo-devel/openni_camera/src/nodelets/driver.cpp#L142
`openni2`: https://github.com/ros-drivers/openni2_camera/blob/noetic-devel/openni2_camera/

[2020-11-20 08:47] MatthijsBurgh commented on #100
@reinzor @warp1337 @awesomebytes what is your view on this issue?

[2020-11-20 08:52] awesomebytes commented on #100
@MatthijsBurgh I haven't used openni_2 in a while, but what you say makes a lot of sense. The only thing I'd be worried by now is backwards compatibility. Maybe there is people that now depend on this behaviour.

Maybe there should be a parameter to actually use the serial number instead of the StringID and by default is false.

[2020-11-20 10:11] reinzor commented on #100
I agree

[2020-11-21 16:50] MatthijsBurgh commented on #100
I can do that. I think in the first new ros distro, we should make the serial the default again and the distro after it drop the option to choose.

[2021-01-12 11:53] #100 closed, assigned to nobody

[2021-01-12 12:25] 130s opened #103 "Release 1.5.0. Branching b/w ROS N, and M or older"
Conversation about new release is started hidden at https://github.com/ros-drivers/openni2_camera/pull/101#issuecomment-758609532, so I'm moving it to a ticket.

- For Melodic the [one registered](https://github.com/ros/rosdistro/blob/364bebb6f4c1ce0557fb0ac84dea747d4a30ec01/melodic/distribution.yaml#L7644) as of today is `indigo-devel`. Looking at https://github.com/ros-drivers/openni2_camera/pul

[2021-01-12 12:55] MatthijsBurgh commented on #103
ABI check succeeds for Kinetic, Melodic and Noetic. So based on that it could be ported back to Kinetic as well.

Based on Kinetic EOL, I agree with you to skip Kinetic.

[2021-01-12 15:08] mikeferguson commented on #103
Feature releases into older distributions happen all the time - as long as they are API compatible. Some repositories actually enforce ABI compatibility, but they are the minority within the ROS1 ecosystem (mainly those that are low-level and shipping libraries others might actually build on).

I would suggest to rename the noetic-devel branch as "ros1" and use it to release into melodic+noetic. I

[2021-01-12 15:20] 130s commented on #103
Looks like I beat the discussion to it for Noetic release https://github.com/ros/rosdistro/pull/27961

Branching and adding a note for M and N sounds good.

[2021-01-26 19:34] MatthijsBurgh commented on #103
@130s when do you plan to release for Melodic?

[2021-01-28 14:37] 130s commented on #103
I think it'd be better, less future burden if we can clean the branching before making a release into ROS1 M as Mike said in https://github.com/ros-drivers/openni2_camera/issues/103#issuecomment-758718607. I'd have to review https://github.com/ros-drivers/openni2_camera/pull/98 again whether a release can be made for both M and N from the same branch.

That said I pushed [ros1](https://github.com/

[2021-01-30 16:05] MatthijsBurgh commented on #103
The only changes compared to `0.4.2` (last release of Kinetic and Melodic) are the changes from #101. These are already in the `ros1` branch. I have updated the travis config. See #105. I don't think any other changes are needed. So it can be released into Melodic.

[2021-02-01 11:09] 130s commented on #103
Conditions of satisfaction in order I think of are posted on the top post.

[2021-02-01 15:21] 130s commented on #103
- N https://github.com/ros/rosdistro/pull/28192
- M https://github.com/ros/rosdistro/pull/28193
- K https://github.com/ros/rosdistro/pull/28194

[2021-02-03 11:02] 130s commented on #103
Looks like all PRs https://github.com/ros-drivers/openni2_camera/issues/103#issuecomment-770935498 are merged.

Once synch happens for all distros, latest released installers will be made off of the new `ros1` branch so that `noetic-devel` won't be in use, thus we can delete it at that time IMO.

[2021-02-09 10:04] antondim opened #108 "Openni2 latest asus firmware version support"
Hello, using lsusb , I can see that my Asus Primesense's firmware version is 0.01 (very old).

Q1 : First of all, is this really the firmware version ( bcdDevice property )

Q2: If yes, which is the latest firmware version that I could upgrade to and will not have problem with "openni2.launch" ?

Reason for firmware upgrade:
- Everything is working smoothly but there is an offset in pointcloud whi

[2021-03-05 12:54] AlessandroMelino opened #109 "openni2_launch with D435?"
Hello.

I am facing an issue trying to use the openni2.launch of ROS with a Realsense D435. So when I execute this, appears in terminal:

`[ INFO] [1614940981.625499350]: No matching device found.... waiting for devices. Reason: std::string openni2_wrapper::OpenNI2Driver::resolveDeviceURI(const string&) @ /tmp/binarydeb/ros-noetic-openni2-camera-1.5.1/src/openni2_driver.cpp @ 742 : Invalid device

[2021-03-19 06:06] siddharthcb commented on #109
same issue with d435i, @AlessandroMelino were you able to solve it?

[2021-03-19 15:48] AlessandroMelino commented on #109
Hello @siddharthcb.

No, I wasn't able. I have used the realsense2_camera package to launch the camera node (modifying the height and width as desire) and remap the topics to set the same names.

Best regards.

[2021-03-19 16:17] siddharthcb commented on #109
hello @AlessandroMelino ,

It seems that openni2 is not compatible with realsense cameras.
Not sure what your application was but mine was to convert pointcloud to laserscan.
I could not use openni2 so I just went without it and the problem got solved.

[2021-06-30 15:11] karishmathumu opened #110 "Save a 3dpointcloud taken from Kinect 360 camera with rtabamp_ros"
I need to save a entire 3d pointcloud and have a format or way to be able to export it onto Cloudcompare or Meshlab.
I am using rtabmap_ros and a turtlebot2 with a Kinect camera.

I have a rosbag file which is saved version of the 3d mapping with the rtabmap_ros. I could visualise the pointcloud on RVIZ and RTABVIZ, but I am not sure how to save this pointcloud as a whole and be able to view and e

[2021-06-30 21:55] mikeferguson commented on #110
As far as I can tell, this doesn't even really involve an openni2_camera issue - the correct place for this sort of thing is answers.ros.org - please post there.

[2021-06-30 21:55] #110 closed, assigned to nobody

[2022-03-22 21:36] jmguerreroh opened #112 "Compiling error: error: ISO C++17 does not allow dynamic exception specifications"
After compiling using `colcon build --symlink-install` I obtain this error

[code]
Any idea?

[2022-03-23 02:28] 130s commented on #109
This says it.

Realsense is well used in ROS world with the ROS driver Intel makes. See http://wiki.ros.org/RealSense

[2022-03-23 02:28] #109 closed, assigned to nobody

[2022-04-12 09:58] 130s commented on #103
`noetic-devel` branch is deleted.

[2022-04-12 09:58] #103 closed, assigned to 130s

[2022-10-19 11:02] Juancams commented on #112
Removing all throw and OpenNI2Exception.

Check https://github.com/Juancams/openni2_camera